<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>Projeto Java Web Completo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <session-config>
  	<session-timeout>15</session-timeout> <!-- Para invalidar a sessão em caso de não utilização no tempo estabelecido -->
  	<tracking-mode>COOKIE</tracking-mode>
  </session-config>
  
  <error-page>
  	<exception-type>org.springframework.security.access.AccessDeniedException</exception-type>
  	<location>/error/acessoNegado.jsf</location>
  </error-page>
  
  <error-page>
  	<exception-type>com.sun.faces.context.FacesFileNotFoundException</exception-type>
  	<location>/error/paginaNaoEncontrada.jsf</location>
  </error-page>
  
  
</web-app>